<%=  form_for @alpha_scaffold do |f| %>


  <p>
    <%= f.label :title%>
    <%= f.text_field :title%>
  </p>
  
  <p>
    <%= f.label :descreption%>
    <%= f.text_area :descreption%>
  </p>

  <p>
    <%= f.submit%>
  </p>

<% end %>

