<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @alpha_scaffold.title %>
</p>

<p>
  <strong>Descreption:</strong>
  <%= @alpha_scaffold.descreption %>
</p>

<%= link_to 'Edit', edit_alpha_scaffolds_path(@alpha_scaffold) %> |
<%= link_to 'Back', alpha_scaffolds_path %>
