<p id="notice"><%= notice %></p>

<ul class= "listing">
  <div class="row center">
      <div class="col-md-4 col-md-offset-4">
          <li> <%= link_to gravatar_for(@alpha_scaffold.user), user_path(@alpha_scaffold.user) %> </li> <%# image link and goto users show page%>
          <li class = "article-title">
              <%= link_to @alpha_scaffold.user.username, user_path(@alpha_scaffold.user) %>  <%#got to the show page so (user)agr is present%>
          </li>
          <li>
              <small> <%= pluralize(@alpha_scaffold.user.alpha_scaffolds.count, "alpha_scaffold") if @alpha_scaffold.user.alpha_scaffolds %> </small>
          </li>
      </div>
  </div>
</ul>

<p>
  <strong>Title:</strong>
  <%= @alpha_scaffold.title %>
</p>

<p>
  <strong>Descreption:</strong>
  <%= @alpha_scaffold.descreption %>
</p>

<% if logged_in? && (current_user == @alpha_scaffold.user || current_user.admin?) %>
    <%= link_to 'Edit', edit_alpha_scaffold_path(@alpha_scaffold), class: "btn btn-xl btn-primary" %>
    <%= link_to "Delete", user_path(@alpha_scaffold), method: :delete,
                        data: { confirm: "Are you sure want to delete?" },
                        class: "btn btn-xl btn-primary" %>
<% end %>
<%= link_to "View", alpha_scaffolds_path, class: "btn btn-primary btn-xl" %>